.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
    max-width: 100%;
}
.header-title {
    text-align: left;
}
.header-title-link {
    font-family: 'Myriad Pro';
    color:  black;
    font-size: 80px; 
    text-decoration: none;
}
.blue-text {
    font-family: 'Myriad Pro';
    color:  #4bcaff;
    font-size: 80px; 
    text-decoration: none;
    
}
.header-menu {
    text-align: center;
    background-color: #35444f;
    line-height: 69px;
    margin-top: 41px;
}
.header-menu-link {
    font-family: 'Myriad Pro';
    color:  #ffffff;
    font-size: 24px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    padding-right: 85px;
    padding-top: 20px;
    padding-bottom: 24px;
}
.header-menu-link:hover {
    background-color: #222f3a;
}
.content-menu {
    display: inline-block;
    width: 345px;
    height: 410px;
    border: 1px solid black;
    line-height: 82px;
    float: left;
}
.content-menu-link {
    font-family: 'Myriad Pro';
    padding-left: 44px;
    margin-top: auto;
    margin-bottom: auto;
    color: #485863;
    font-size: 26.99px;
}
.content-menu-link:hover {
    padding-left: 69px;
    color: black;
    background-color: grey;
}
.content-menu-logo {
    display: inline-block;
    width: 800px;
    height: 530px;
    border: 1px solid black;
    float: right;
    margin-left: 52px;
    text-align: center;
    
}
.menu-img {
    padding-top: 73px;
    padding-bottom: 73px;
    
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.menu-description {
    margin-left: 480px;
    width: 820px;
}
.menu-text {
    display: inline-block;
    padding-top: 30px;
}
.bottom-menu {
    background-color: grey;
    margin-bottom: 30px;
}
.bottom-menu-link {
    line-height: 90px;
    font-family: 'Myriad Pro';
    color:  #0c1927;
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    text-decoration: none;
}
.bottom-menu-link:hover {
    text-decoration: underline;
    color: #3181a6;
}
.logo {
    display: inline-block;
    font-family: 'Myriad Pro';
    color:  #010000;
    font-size: 24px;
    margin-left: 120px;
}
